# OS
.DS_Store
Thumbs.db

# IDE
.vscode
opencode.json


# Output
build
dist


# Env
.env
.env.*
!.env.example

# Rust
target

# Images
scripts/*-image.tar.gz


# Private files and folders
\#*
scratch.rs
backups/